body {
    background-image: url("dendy-darma-2NHjxFeXPGw-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@media (max-width: 768px) {
    body {
        height:100vh;
    }
}

li{
    list-style-type: none;
    margin: 0 10vw;
    font-size: 5vh;

}

nav{
    width: 99vw;
    background-color: #ffffff;
    opacity: .5;
}

ul{
    /*this option by default dispose the elements in a row (flex-direction: row)*/
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;

    /*below I changed the color*/
    color: black;
}

a:hover{
    background-color: darkorange;
    opacity: 0.9;
}

.title{
    justify-content: center;
    text-align: center;
    color: black;
}

.css-typing p {
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 38px;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    background-color: #ffffff;
    opacity: .1;
}
.css-typing p:nth-child(1) {
    width: 15em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
    width: 12.5em;
    opacity: 0;
    -webkit-animation: type2 5s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
    width: 19em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 11s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
    width: 15em;
    opacity: 0;
    -webkit-animation: type2 3s steps(40, end);
    animation: type2 4s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 15s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    opacity: .2;
    color: black;
    text-align: center;
}