html {
    background: url("dendy-darma-2NHjxFeXPGw-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}


li{
    list-style-type: none;
    margin: 0 10vw;
    font-size: 5vh;

}

nav{
    width: 99vw;
    background-color: #ffffff;
    opacity: .5;
}

ul{
    /*this option by default dispose the elements in a row (flex-direction: row)*/
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;

    /*below I changed the color*/
    color: black;
}

a:hover{
    background-color: darkorange;
    opacity: 0.9;
}

a img{
    width: 50%
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    opacity: .2;
    color: black;
    text-align: center;
}
